.comments {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    z-index: 100;

    &__backtopost {
        width: 200px;
        margin: 65px auto 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        h5 {
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
        }
        &__arrow {
            padding-left: 10px;
        }
    }


    &__title {
        margin-top: 10px;
        h2 {
            margin: 0;
            padding: 0;
            font-size: 1.9rem;
        }
    }

    &__comment {
        margin-left: 0px;
        padding-left: 0px;
    }
}