//Light mode/dark mode styles
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: $lmtext;
    }
    a {
        color: $lmtext;
    }

    .menubar {
        background-color: white;
    }

    .comments {
        background-color: white;
    }

    .feed__subredditname {
        color: $primary;
    }
};

@media (prefers-color-scheme: dark) {
    body {
        background-color: $dmbackground;
        color: white;
    }
    a {
        color: white;
    }

    .menubar {
        background-color: $dmbackground;
    }
    
    .menubar__search__bar {
        background-color: $dmsearch;
        color: white;
    }

    .post {
        background-color: $dmcardbg;
    }

    .comments {
        background-color: $dmbackground;
    }

    .feed__subredditname {
        color: white;
    }

    .singlecomment__seperatorline {
        background-color: $dmcardbg;
    }
}


//screen size queries

//tablet styles
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    {
    }


// computer screens
    @media only screen
    and (min-device-width: 1025px)
    {
        .feed {
            top: 40px;
            
            &__subredditname {
            display: block;
            }
        }

        .singlepost {

            &__img {
                width: 1000px;
                height: 500px;
            }
        }
    }